extends layout

block content
	.row
		.col-md-6.col-xs-12
			h1 About this Application
			//- p This aplication was developed in a master degree project to support  
			//- # tecnhologies
			//- img(src="/images/nodejs.png" class="img-thumbnail")
			//- img(src="/images/mongoDB-logo.png " class="img-thumbnail")
			//- img(src="/images/JavaScript-logo.png" class="img-thumbnail")
			//- img(src="/images/html-css-js.png" class="img-thumbnail")