doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBpHgeXC7-2AAkGYouSTN2gNfjOO2uvyT0&sensor=FALSE')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/global.js')
		script(src='/javascripts/gmaps.js')
		script(src='/javascripts/chance.js')
		
	body
		
		

		.navbar.navbar-inverse.navbar-fixed-top
			ul.nav.navbar-nav
				li 
					a(href='/') Home
				li
					a(href='/clients') Clients
				li
					a(href='/routes') Calendar
				li
					a(href='/contact') Contact
				li
					a(href='/Statistics') Statistics	
				li
					a(href='/about') About		
		.container
			block content
		