extends layout

block content
    script(src='/javascripts/loadRequests.js')
    .row
        .col-md-12.col-xs-12
            h1 About Requests
            p To make a request, the clients need to ...
            #wrapper
                #requests
                    table.table-striped.center-block
                        thead
                            th id
                            th need
                            th startWindow
                            th endWindow
                            th Status
                        tbody
                    br
                #newRequestForm
                    h3 New Request
                    fieldset
                        label(for='name' id='requestName') request
                        input#inputRequestDate(type='date', placeholder='Email', required).form-control
                        input#inputRequestNeed(type='number', placeholder='Need', required).form-control
                        button#btnNewRequest.btn.btn-primary Make New Request

