extends layout

block content
	.row
		.col-md-12.col-xs-12
			h1 DistanceMatrix
			#distanceMatrix
				//- p atention to the calculateDistances function...
				//- button#getDistances.btn.btn-primary clientsLatLng
				#outputDiv
			#distanceMatrixOnly
				button#plus.btn.btn-primary +
				button#minus.btn.btn-primary -
				lable(id='diamond') Indice: 0
	.row
		.col-md-12.col-xs-12			
				button#getDistancesOnly1.btn.btn-primary Get Distances 25
				button#getDistancesOnly2.btn.btn-primary Get Distances 50
				button#getDistancesOnly3.btn.btn-primary Get Distances 75
				button#getDistancesOnly4.btn.btn-primary Get Distances 100
	.row
		.col-md-12.col-xs-12
			button#getClientInfo.btn.btn-primary Get Client Info
			button#getCoordinates.btn.btn-primary Get Coordinates
		
				#outputDiv
		
	.row
		.col-md-6.col-xs-12
			textarea(id="cenas", rows="30", cols="150")
	.row
		.col-md-12.col-xs-12
			#map-canvas
	.row
		.col-md-12.col-xs-12
			#rodape
				h3 some sentence...
	//- script(src='/javascripts/gmaps.js')
	//- script(type='text/javascript' src='javascripts/chance.js')
