extends layout
block content
	.row
		.col-md-8.col-xs-12
			h1 Teste
			#clientInfo
			h3 Client Information
			p
			strong Id:
			span#clientInfoId
			br
			strong Name:
			span#clientInfoName
			br
			strong Email:
			span#clientInfoEmail
			br
			strong PhoneNumber:
			span#clientInfoPhone
			br
			strong Location:
			span#clientInfoLocation
			br
			strong Created:
			span#clientInfoCreatedAt
			br
			strong Updated:
			span#clientInfoUpdatedAt
			br
			strong Deleted:
			span#clientInfoDeleted
			br
			strong Requests:
			span#clientInfoRequestsLength
			br
	//- 		#wrapper
	//- 			#clientList
	//- 				table.table-striped.center-block
	//- 					thead
	//- 						th Name
	//- 						th Request's
	//- 						th Delete?
	//- 						th Requests
	//- 						th New Request
	//- 					tbody
	//- 	.col-md-4.col-xs-12
	//- 		#clientInfo
	//- 		h3 Client Information
	//- 		p
	//- 		strong Id:
	//- 		span#clientInfoId
	//- 		br
	//- 		strong Name:
	//- 		span#clientInfoName
	//- 		br
	//- 		strong Email:
	//- 		span#clientInfoEmail
	//- 		br
	//- 		strong PhoneNumber:
	//- 		span#clientInfoPhone
	//- 		br
	//- 		strong Location:
	//- 		span#clientInfoLocation
	//- 		br
	//- 		button.btn.btn-primary#btnEditClient Edit Client
	//- // /USER INFO
