extends layout

block content

  .row
    .col-md-6.col-xs-12
      h1 Some numbers
  //-     p Some stats from instances previously calculated with NEOS Server.
  //-     #tecnhologies

  //-     script( src="http://d3js.org/d3.v3.min.js")
  //-     link( rel="stylesheet" type="text/css" href="stylesheets/sequences.css" )  

  //-     #main
  //-       #sequence
  //-         #chart
  //-           #explanation(style="visibility: hidden;")
  //-             span#percentage
  //-             br
  //-             p of visits begin with this sequence of pages
     
  //-     script( type="text/javascript" src="javascripts/sequences.js")
