extends layout

block content
	.row
		.col-md-8.col-xs-12
			h1 Clients
			#wrapper
				#clientList
					table.table-striped.center-block
						thead
							th Name
							th Request's
							th Delete?
							th Requests
							th New Request
						tbody
		.col-md-4.col-xs-12
			#clientInfo
			h3 Client Information
			p
			strong Id:
			span#clientInfoId
			br
			strong Name:
			span#clientInfoName
			br
			strong Email:
			span#clientInfoEmail
			br
			strong PhoneNumber:
			span#clientInfoPhone
			br
			strong Location:
			span#clientInfoLocation
			br
			strong Created:
			span#clientInfoCreatedAt
			br
			strong Updated:
			span#clientInfoUpdatedAt
			br
			strong Deleted:
			span#clientInfoDeleted
			br
			strong Requests:
			span#clientInfoRequestsLength
			br
			button.btn.btn-primary#btnEditClient Edit Client
	// /USER INFO
	br
	.row
		.col-md-6.col-xs-12
			#addClient.text-center
				h3 Add Client
				fieldset
					input#inputClientName(type='text', placeholder='Name', required).form-control
					input#inputClientEmail(type='email', placeholder='Email', required).form-control
					input#inputClientPhone(type='tel', placeholder='Phone', required).form-control
					br
					button#btnAddClient.btn.btn-primary Add Client
			// /ADD USER
			#my-map.center-block

		.col-md-6.col-xs-12
			#requests
				h4 Client Requests
				label(for='name' id='owner') No Owner yet!
				table.table-striped
					thead
						th Id
						th Date
						th Need
						th Status
						th delete?
					tbody

	.row
		.col-md-6.col-xs-12
			#newRequest.text-center
				h3 New Request
				fieldset
					label(for='name' id='requestName') request
					input#inputRequestDate(type='date', placeholder='Email', required).form-control
					input#inputRequestNeed(type='number', placeholder='Need', required).form-control
					button#btnNewRequest.btn.btn-primary Make New Request

	.row
		.col-md-12.col-xs-12.text-center#clientOnMap
			h3 Clients Location
			#clientsOnMap.center-block
			// /ADD USER
