extends ../layout

block content
	script(src='/javascripts/clients.js')
	
	.row
		.col-md-8.col-xs-12
			h1 Clients
			#wrapper
				#clientList
					table.table-striped.center-block
						thead
							th Name
							th Request's
							th Delete?
							th Requests
							th New Request
						tbody
			br
			button.btn.btn-primary#btnNewClient New Client