p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, strong::selection{
	color: white;
	background:#343434;
}

#my-map, #clientsOnMap, #map-canvas {
	margin-top: 2em;
	width: 800px;
	height: 450px;

}


btn, .form-control{
	margin-top: 10px;
	margin-bottom: 10px;
}


#clientOnMap{
	margin-top: 20px;
	background: #efefef;
	height: 600px;
}

#tecnhologies{
	width:100px;
}


